<div class ="d-flex align-items-center justify-content-center">
    <h1>Welcome to Pup A Day</h1>
</div>

<br>

<div class ="d-flex align-items-center justify-content-center">
  <h2> Rent or Adopt a Loveable Puppy from Local Shelters!</h2>
</div>

<br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.theconversation.com/files/377569/original/file-20210107-17-q20ja9.jpg?ixlib=rb-1.1.0&rect=278%2C340%2C4644%2C3098&q=45&auto=format&w=926&fit=clip" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://thezebra.org/wp-content/uploads/2020/07/Training-Time-Aug2020-GR-with-ball-scaled.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.foundanimals.org/wp-content/uploads/2018/03/PuppyBehavior_twenty20_848df3d6-4a92-4a9c-89f3-94db0c55d427.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>