// Place all the styles related to the advertisements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
div.index-card {
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0px;
    text-align: center;
    border-radius: 40px;
    width: 30%;
  }

  div.index-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .index-container {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .index-card:hover {
    background-color: darkgray;
  }