h1 {
    margin: 20px 0;
}
h2{
    font-family: fantasy;
}
div.carousel-inner {
    margin-left: 330px;
}

#footer {display:block;
    text-align: center;
    padding-top: 50px;}
    
    .fa-1x {margin: 0 15px 15px;}
    .Copyright{color:grey;
      font-size: 0.8rem;}

      .fa-twitter:hover {
        color: #00acee;
    }
    .fa-facebook-f:hover{
        color:#3b5998;
    }
    .fa-instagram:hover{
        color: #e95950;
    }
    .fa-envelope:hover{
        color: #4285F4;
    
    }