h1 {
    margin: 20px 0;
}
h2{
    font-family: fantasy;
}
div.carousel-inner {
    margin-left: 330px;
}

#footer {display:block;
    text-align: center;
    padding-top: 50px;}
    
    .fa-1x {margin: 0 15px 15px;}
    .Copyright{color:grey;
      font-size: 0.8rem;}