// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#welcome {
    text-align: center;
    font-family: system-ui ;
    color: yellowgreen;
}

.show-container {
    height: 100vh;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

    .show-container h4 {
        text-align: center;
    }   
    
    .show-container img{
        border: 1px solid black;
        border-radius: 50%;
    }

    .show-container ul li {
        // border: 1px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        text-align: center;
        display: inline-block;
        
    }
    
    .profile { 
        text-align: center;
        border: 1px solid black;
        grid-area: 1 / 3 / 2 / 4;
    }
 
    
    
    .adopted { 
        border: 1px solid black;
        grid-area: 2 / 3 / 5 / 4;
        text-align: center;
        overflow-y: scroll;
    }

    .upcoming { 
        position: relative;
        border: 1px solid black;
        grid-area: 1 / 1 / 3 / 3; 
        width: 100%;
        overflow-y: scroll;
        // justify-content: space-evenly;
        // align-items: center;
        // flex-direction: column;
    }
    .rental-container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        // height: 100%;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: scroll;
        // background-color: lightblue;
    }

    .rental-card {
        width: 30%;

    }

    // .upcoming p {
    //     // border: 1px solid black;
    //     // display: inline-block;
    // }

    .previous { 
        border: 1px solid black;
        grid-area: 3 / 1 / 5 / 3; 
    }




